.Editor {
    width: 60%;
    height: 100%;
    border: 1px solid black;
    box-sizing:border-box;

    display: flex;
    flex-direction: column;

    font-size: calc(5px + 2vmin);
    color: black;

    .Editor-title {
        height: 10%;
    }
    
    .Editor-content {
        height: 90%;
        overflow: auto;

        .Editor-input {
            height: 100%;
            width: 100%;
            background-color: $primary-color;
        }
    }
}



